@import url("https://fonts.googleapis.com/css?family=Jura&&Lato");

* {
  margin: 0;
  padding: 0;
}
.App {
  width: 100vw;
  overflow: hidden;
  height: 100vh;
  background: linear-gradient(115deg, rgba(86, 216, 228, 1) 5%, purple 95%);
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  position: absolute;
  right: 2rem;
}

.App-header {
  /* width: 100vw; */
  /* border: solid red 1px; */
  padding: 2rem;
}

.info {
  position: absolute;
  width: 10rem;
  top: 0;
  height: 30vh;
  background-color: #8b1a89;
  animation: polygons 5s infinite;
}
.count {
  color: white;
  text-align: center;
}
.num {
  color: white;
  opacity: 0.5;
  text-align: center;
  font-size: 8rem;
}
.text {
  color: white;
  opacity: 0.6;
  text-align: center;
}
.fetch {
  width: 100%;
  height: 5vh;
  margin-top: 5px;
  border: none;
  color: white;
  font-size: 2rem;
  background-color: #9b59b6;
  box-shadow: 0px 5px 0px 0px #82409d;
  outline: none;
}

.fetch:active {
  padding-top: 5px;
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}
@keyframes polygons {
  0% {
    clip-path: polygon(
      0% 0%,
      35% 0%,
      50% 100%,
      52% 100%,
      37% 0%,
      100% 0%,
      100% 100%,
      0% 100%
    );
  }
  25% {
    clip-path: polygon(
      0% 0%,
      45% 0%,
      60% 100%,
      62% 100%,
      47% 0%,
      100% 0%,
      100% 100%,
      0% 100%
    );
  }
  50% {
    clip-path: polygon(
      0% 0%,
      55% 0%,
      70% 100%,
      72% 100%,
      57% 0%,
      100% 0%,
      100% 100%,
      0% 100%
    );
  }

  75% {
    clip-path: polygon(
      0% 0%,
      45% 0%,
      60% 100%,
      62% 100%,
      47% 0%,
      100% 0%,
      100% 100%,
      0% 100%
    );
  }
  100% {
    clip-path: polygon(
      0% 0%,
      35% 0%,
      50% 100%,
      52% 100%,
      37% 0%,
      100% 0%,
      100% 100%,
      0% 100%
    );
  }
}
@media (max-width: 800px) {
  .info {
    position: relative;
    width: 100%;
    top: 0;
    height: 30vh;
    background-color: #8b1a89;
  }
  .App-header {
    /* width: 100vw; */
    /* border: solid red 1px; */
    padding: 0;
  }
}
